body{
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;  
  margin: 0px;
  padding: 0px;
  color: #555555;  
}

.toasts{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 300px;
}