<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout
"Home page">

<fieldset>
	<legend>Clients</legend>


	<table class="table table-striped">
		<thead>
			<tr>
				<th>Client</th>
				<th></th>
				<th></th>
				
				<th>Message</th>
			</tr>
		</thead>
		<tbody>
			<#list clients?keys as prop>
			<tr>
				<td>${prop}</td>
				<td><a href="/stopClient?clientId=${prop}" class="btn btn-danger btn-sm"> Disconnect </a></td>
				<td><button type="button" class="btn btn-default btn-sm" onclick="capture('${prop}', this)" > Capture </button>				
				<div id="capture-${prop}"></div>
				
				</td>				
				<td>
					<form action="/send" method="post">
						<input type="hidden" name="clientId" value="${prop}" /> <input
							type="text" name="command" autofocus /> <input type="submit" class="btn btn-success btn-sm"
							value="Send" />
					</form>
				</td>
			</tr>
			</#list>
		</tbody>
	</table>
	
	<script type="text/javascript">

		    function capture(clientId, btn){

				var img = $('<img>').attr('src', '/capture?clientId=' + clientId);			    
			    $(btn).next('div').html(img);
		    }

	</script>
	
</fieldset>

<fieldset>
	<legend>Broadcast</legend>
	<form action="/multicast" method="post">
		<input type="text" name="command" autofocus /> <input type="submit" class="btn btn-success"
			value="SEND" />
	</form>
</fieldset>
</@layout.myLayout>
