
<h2 class="ui header">
	<i class="settings icon"></i>
	<div class="content">
		${application.name}

		<div class="sub header">Manage your devices</div>
</h2>

<div ng-controller="ClientsCtrl">

	<table id="clients-table" class="ui table basic">
		<thead>
			<tr>
				<th>Client</th>
				<th>Actions</th>
			</tr>

			<tr>
				<th>
					<div class="ui mini icon input">
						<input type="text" ng-model="clientNameFilter"
							placeholder="Search..."> <i class="search icon"></i>
					</div>

				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			<tr class="positive"
				ng-repeat="(clientId, client) in filteredClients()">
				<td>{{clientId}}</td>

				<td><a ng-click="disconnet(clientId)"
					class="ui tiny button red"> Disconnect </a>

					<button type="button" class="ui tiny button positive"
						ng-click="capture(clientId, $event)">Capture</button>
					<span id="capture-{{clientId}}"></span>

					<div class="ui tiny icon buttons">
						<div class="ui orange button" ng-click="startStream(clientId)">
							<i class="play icon"></i>
						</div>
						<div class="ui purple button" ng-click="stopStream(clientId)">
							<i class="stop icon"></i>
						</div>
					</div></td>

			</tr>

			<tr ng-show="clients | empty">
				<td colspan="2">No client</td>
			</tr>

		</tbody>
	</table>

</div>
